In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.cross_validation import train_test_split

In [5]:
dataset=pd.read_csv('Social_Network_ads.csv')

In [6]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
X=dataset.iloc[:,[2,3]].values
Y=dataset.iloc[:,-1].values

In [30]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [32]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
reg=LogisticRegression(random_state=0)

In [24]:
reg.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [25]:
Y_expected=reg.predict(X_test)

In [27]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,Y_expected)

array([[65,  3],
       [ 8, 24]], dtype=int64)